body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html,
body,
.cover {
    height: 100%;
}

.cover {
    background: url("images/konnect.jpg") top left no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}

.cover-text {
    text-align: center;
    color: black;
    display: table-cell;
    vertical-align: middle;
}

    .cover-text h1 {
        margin: 0;
        font-size: 70px;
        letter-spacing: -3px;
    }

nav.navbar-default {
    background: rgba(250,250,250, 0.5);
    border: none;
}

.testimonial {
    background: #222;
}

blockquote {
    border: none;
    margin: 0;
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-size: 32px;
    color: white;
}

    blockquote cite {
        display: block;
        text-align: right;
        text-transform: uppercase;
        font-family: Helvetica, Arial, sans-serif;
        font-style: normal;
        font-size: 18px;
        font-weight: bold;
        color: #888;
        margin-top: 40px;
    }

section {
    padding: 100px;
}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 60px;
}

    h2 + p {
        text-align: center;
    }

#team {
    background: #8bbab0;
    background-size: cover;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Helvtica, Arial, sans-serif;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Georgia, Times, serif;
}

    footer a {
        color: hotpink;
    }


/* Media Queries */

@media only screen and (max-width: 568px) {
    .cover h1 {
        font-size: 40px;
    }

    section {
        padding: 20px;
    }
}
